{% extends "base.html" %}
{% block title %}
  Reset Password
{% endblock title %}

{% block content %}
<div class=" lo-box df-caj">
    <div class=" lo-crd df-caj">
        <h3 class=" log-ti">Reset Password</h3>
        {% for message in messages %}
        <div class=" alert-box alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class=" close-button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form action="/authentication/request-reset-email" method="POST" class=" lo-fo df-caj">
            {% csrf_token %}
            <div class=" fo-gu">
                <label for="email" class=" form-label">Email</label>
                <input type="email" class=" form-input" id="email" name="email" required placeholder="Enter Your Email  . . .">
            </div>
            <button type="submit" class=" submit-button ">Reset</button>
            <div class=" form-footer">
                New User? <a href="/authentication/signup/" class=" blu-t">Sign Up</a><br>
            </div>
        </form>
    </div>
</div>
{% endblock content %}