{% extends "base.html" %}
{% load static %}

{% block title %}
  payment-status
{% endblock title %}

{% block content %}
<div class=" lo-box df-caj">
  {% if status %}
  <i style="font-size: 150px; color:green;" class="fa fa-check-circle" aria-hidden="true"></i>
  <br>
  <br>
  <h2>Thank You Your Payment is Sucessfull</h2>
  <br>
  <div>
      <a style="height: 20px;width: 200px; background-color: green; padding: 10px; font-size:20px;text-decoration: none;border-radius: 20px;color: white;" href="/">Back to home</a>
      <a style="height: 20px;width: 200px; background-color: gold; padding: 10px; font-size:20px;text-decoration: none;border-radius: 20px;color: black;" href="/order">  orders     </a>
  </div>
  {% else %}
  <i style="font-size: 150px; color:red;" class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
  <br>
  <br>
  <h2>Thank You Your Payment is Failed</h2>
  <br>
  <div>
      <a style="height: 20px;width: 200px; background-color: green; padding: 10px; font-size:20px;text-decoration: none;border-radius: 20px;color: white;" href="/">Back to home</a>
      <a style="height: 20px;width: 200px; background-color: gold; padding: 10px; font-size:20px;text-decoration: none;border-radius: 20px;color: black;" href="/order">  orders     </a>
  </div>
  {% endif %}

</div>    
{% endblock content%}
<i ></i>